.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      
      margin: 0px;
  }

.brand{
    padding-right: 50px;
}
/********BOOKS SECTION***********/
.books{
    padding-top: 20px;
}
.books img{
    width: 90%;
    height: 300px;
    border: 1px black solid;
    margin-top: 10px;
    padding-bottom: 10px;
}
.img-item{
    text-align: center;
}
.section-heading{
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    padding-bottom: 2px;
    padding-left: 30px;
}

.link{
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #a3a3a3;
}
.img-item:hover{
    box-shadow: 0 0 8px blue;
    border: 2px black;
    transition: 0.5s;
    opacity: 0.9;
}




.active {
    background-color: ;
    color: ;
    
}

li:hover{
background-color: ;
color:;
}

li a:hover {
    background-color: ;
    color: ;
}

.shop:hover {
    background-color: ;
    color: ;
}
.shop{
padding: 0px;
margin: 0px;
border-width: 10px;
background-color: ;
color: ;
}

.navbar-default{
	 background-color: 
	 font-weight: lighter;

}

.down{
	padding-top: 15px;
}

.sshowh{
    height: auto;
    max-height: 100vh;
}

.sshoww{
    width: 100%;
    margin: 0px;
    padding: 0px;
}


.electronics{
    padding-top: 20px;
}
.electronics img{
    width: 90%;
    height: 300px;
    border: 1px black solid;
    margin-top: 10px;
    padding-bottom: 10px;
}

.cap{
    padding: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
}



img{
  border: 0px solid white !important;
}

.img-item{
      padding: 20px;

}
